#caseTableContainer {
    margin: auto;
    margin-top: 1%;
    height: 55vh;
}

#caseTable {
    text-align: center;
    border-collapse: collapse;
    border: 2px solid;
    height: 100%;
    border-radius: 7px;
    display: block;
    overflow-y: scroll;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    -webkit-box-shadow: 0 0 10px rgb(0,0,0);
    -moz-box-shadow: 0 0 10px rgb(0,0,0);
}

#caseTable td, #caseTable th {
    border: 2px solid;
}


#caseTable th {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}

.caseItem:nth-child(even) {
    background-color: #f2f2f2;
}

.caseItem:hover {
    color: white;
    background-color: rgb(30, 64, 163);
}